<!-- Footer -->
<div id="find_us" class="section">
    <div class="container">
        <div class="col-sm-12 text-center">
            <h2>Contact Us</h2>
            <div class="seperator light"></div>
            <div class="row">
                <div class="info">
                    <h3>{{site.title}}</h3>
                    <ul class="list-icons list-unstyled">
                        <li><i class="fa fa-map-marker default-text"></i> <a href="https://goo.gl/maps/cuTZ4X6UqzH2" target="_blank">7496 Eigleberry St Gilroy, CA 95020</a></li>
                        <li><i class="fa fa-phone default-text"> Phone:</i> <a href="tel:14088476160">(408) 847-6160</a></li>
                        <li><i class="fa fa-fax default-text"> Fax:</i> (408) 847-7878</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">
                    Copyright &copy; <a href="{{site.url}}">{{site.title}}</a> {{ site.time | date: '%Y' }}
                </p>
            </div>
        </div>
    </div>
</footer>