<header>
    <div id="header_slider">
        <div class="header-intro">
            <div class="section">
                <div class="container">
                    <img src="{{'assets/images/svps_header_logo.png' | relative_url }}" alt="Pharmacy Services Bay Area" class="header-img">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <h1>Welcome to our pharmacy</h1>
                        <div class="seperator light"></div>
                        <p class="lead">At South Valley Pharmacy Services, we understand it takes compassion to provide you with the quality service that you deserve in fulfilling your medication needs.</p>
                        <a href="#about" data-scroll-to="#about" class="btn btn-lg cta-btn scroll-to">Learn More</a>
                        <h3><a href="#" data-toggle="modal" data-target="#covidModal" class="btn btn-lg btn-danger">A Message About COVID-19</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Covid Modal -->
<div class="modal fade" id="covidModal" tabindex="-1" role="dialog" aria-labelledby="covidModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="covidModalLabel">Important news about COVID-19</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">As a closed door pharmacy with no retail operations, we are up and running and ready to serve all of our customers.</p>
        <p>We understand that this virus is not going away anytime soon and we should be remaining calm but aware that this situation will get worse before it gets better.</p>
        <p>It may be months before we truly understand the impact, but rest assured, we will be doing everything possible to be here serving our customers with no interruption.</p>
        <h4>What we are doing?</h4>
        <p>We are working with multiple vendors to ensure we are stockpiling life saving mediations in case there are shortages.  Each day we are reviewing the global situation and will update you as necessary.</p> 
        <p>Also we are keeping our employees safe and ensuring employees stay home if they are not well.  For our delivery drivers we are limiting the amount of exposure once they are at the homes we deliver.</p>
        <p>Our commitment to excellent service and keeping our community safe is our top priority.</p>
        <p>If you have any questions, please do not hesitate to call <strong>(408) 847-6160</strong>.</p>
        <p>Thank you and all the best,</p>
        <p>- South Valley Pharmacy Services</p>
      </div>
    </div>
  </div>
</div>